.photos__container {
    margin: 2rem 2rem 0;
    height: 100%;
}

.photo__container {
    background-color: #fff0f0;
    border: 1px solid gray;
    border-radius: 1rem;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.25) 0px 7px 29px 0px;
    overflow: hidden;
    padding: 1rem;
    justify-content: flex-start;
    height: 80vh;
    width: auto;
}

.swiper-slide:last-of-type {
    animation: 2s pop ease;
}

@keyframes pop {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.photo {
    border-radius: 1rem;
    max-height: 80%;

    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1rem;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

.image-container {
    display: contents;
    height: 550px;
    width: 100%;
    overflow: hidden;
    margin: 1rem;
}

.photo__container p {
    margin: 0;
    max-width: 100%;
    font-size: 1.2rem;
    overflow: hidden;
}

@media (width < 768px) {
    .photos__container {
        margin: 1rem 0.5rem 0;
    }

    .image-container,
    .photo {
        border-radius: 1rem;
    }

    .photo__container {
        padding: 1rem;
        height: 75vh;
    }

}