.upload-image_button {
    background-color: #d5f9fe;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    transition: 1s ease;
    z-index: 1;
}

.upload-image_button:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #87eafabe;
}

.upload-container {
    min-height: 22rem;
}

.upload-image-form {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    height: 21rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.upload-image-form input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

.upload-image-form .buttons-container {
    display: flex;
    justify-content: flex-end
}

.upload-image-form button {
    margin-left: 0.5rem;
    min-width: 4rem;
}

.image-preview {
    width: 50px;
    height: 50px;
    display: block;
    border: 1px solid lightgray;
}